.main-section {
  background-image: url("images/minimalist.jpg");
  display: table;
  width: 100%;
  height: 300px;
  position: relative;
}
h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 2em;
}
